{% load templatetags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Study Online</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Courses
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'courses' %}">All courses</a></li>
                    </ul>
                </li>
                {% is_prof request.COOKIES.username request.COOKIES.user_token as prof %}
                {% if prof %}
                    <a class="nav-link" href="{% url 'create_course' %}">Create a course</a>
                {% endif %}
                {% if request.COOKIES.user_token %}
                    <a class="nav-link" href="{% url 'subscriptions' %}">Subscriptions</a>
                {% endif %}
            </ul>

            <form class="d-flex" method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <label for="search_query" class="visually-hidden">Search</label>
                <input type="text" class="form-control me-2" id="search_query" name="search_query" placeholder="Search">

                <button type="submit" class="btn btn-outline-success">Search</button>
            </form>

            {% if request.COOKIES.user_token %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% load bootstrap_icons %}
                        {% bs_icon 'bell' %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="notificationsDropdown">
                        <!-- For future notifications -->
                    </ul>
                </div>
                <a class="btn btn-primary mx-1" href="{% url 'profile' %}">Profile</a>
                <a class="btn btn-danger mx-1" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-primary mx-1" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary mx-1" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>