{% extends 'components/base.html' %}

{% block content %}
    <div class="container">
        <h1>Register</h1>
        <p>Please create a account</p>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group p-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group p-3">
                <label for="email">Account type</label>
                <select class="form-select" id="accountType" name="accountType" required>
                    <option value="1">Student</option>
                    <option value="2">Prof</option>
                </select>
            </div>
            <div class="form-group p-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group p-3" id="divConfPass">
                <label for="passwordConf">Confirm password </label>
                <input type="password" class="form-control" id="passwordConf" name="passwordConf" required>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input id="submit" class="btn btn-primary pt-2" type="submit" value="Register">
                <a href="{% url 'login' %}" class="btn btn-secondary m-2">Login</a>
            </div>
        </form>
    </div>
{% endblock %}